@using Microsoft.AspNetCore.Http
@model IEnumerable<StoreMVC.Models.ShowProductViewModel>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

@if (Context.Session.GetInt32("IsManager") == 1)
{
<p>
    <a asp-action="Create">Add a new product</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @item.ProductPrice.ToString("C")
                </td>
                <td>
                    @* Helpers are also used to tie your views to particular actions in controllers *@
                    @* This is an html helper *@
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId })
                </td>
            </tr>
        }
    </tbody>
</table>